.navbar{
	//background-image: linear-gradient(to right, rgba(75, 0, 130, 1), rgba(75, 0, 130, .2));

	background: #286457;


	position:  absolute;
	top: 0; left: 0; right: 0;
	z-index: 10;

	box-shadow: 1px 0 10px 0 black;
}

.navbar-brand{
	color: white !important;
	font-weight: bold;
}

.logo{

	height: 100%;
	width: 50px;
	padding: 10%;
	-webkit-filter: invert(100%);
			filter: invert(100%);
			@media(max-width: 40rem){
				visibility: hidden;
			}
}

.nav-item{
    text-align: right;
}