.profile-pic{
	width: 10rem;
	height:  10rem;
	border-radius: 50%;
	object-fit: cover;
	object-position: top;
	position: relative;
	margin-top: 2rem;
	border: 2px solid white;
}

.jumbotron{
	position: relative;
    top:0;
	left: 0;
    width: 100vw;
    height: 30vh;
	z-index: -1;
	overflow: hidden;
	background-image: url("../../assets/images/neurons2.jpg");
	background-repeat: no-repeat;
	background-position: center;

}


.profile-pic-container{
	position: relative;
	z-index: 2;
	top: 100px;
}

.profile-description{
	display: inline;
	position: relative;
	left: 200px;
}