.profile-pic{
	width: 10rem;
	height:  10rem;
	border-radius: 50%;
	object-fit: cover;
	object-position: top;
	position: relative;
	margin-top: 2rem;
	border: 2px solid white;
}

.jumbotron{
	position: relative;
    top:0;
	left: 0;
    width: 100vw;
    height: 40vh;
	overflow: hidden;
	object-fit: fill;
	background-image: url("../../assets/images/neurons2.png");
	background-repeat: no-repeat;

}


.profile-pic-container{
	position: relative;
	z-index: 2;
	top: 100px;
}

.profile-description{
	display: inline;
	position: relative;
	left: 200px;
	bottom: 60px;

	@media (max-width: 375px){
		left: 120px;
		top: 15px;
	}
}

@media (max-width: 600px) {
	.display-4 {
		font-size: 2rem;
	}
}
