.left-side-panel {
  position: absolute;
  left: -256px;
  width: 256px;
  top: 66px;
  transition: 1s left ease;
  height: 100%;

  &.left-side-panel-expanded {
    position: absolute;
    left: 0;
    transition: 1s left ease;
  }

  .left-panel-toggle {
    width: 48px;
    height: 48px;
    position: absolute;
    right: -48px;
    margin-left: 0;
  }

  .left-toggle-btn {
    position: absolute;
    right: 0;
    z-index: 1;
    width: 48px;
    height: 48px;
    border: 0;
    background: rgb(10, 10, 10);
    color: white;
    box-shadow: none;
    border-bottom-right-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      color: rgba(75, 0, 130, 1);
    }
  }

  .left-panel {
    width: 256px;
    max-width: 480px;
    top: -66px;
    margin-left: 0;

    position: absolute;
    left: 0;
    transition: 1s;

    overflow-y: hidden;
    height: calc(100% - 66px);

    @media screen and (min-width: 600px) {
      margin-top: 66px;
    }
  }

  .scrollbar::-webkit-scrollbar {
    width: 10px;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #666;
    border-radius: 20px;
  }

  .scrollbar::-webkit-scrollbar-track {
    background: #ddd;
    border-radius: 20px;
  }

  .img-list-container {
    min-width: 240px;
    width: 100%;
    max-width: 480px;
    padding: 10px;
    background: rgb(10, 10, 10);
    height: 100%;
    overflow-y: auto;
  }

  .img-list-container > * {
    width: 100%;
  }

  .img-list {
    display: flex;
    flex-direction: column;
    background: rgb(10, 10, 10);
  }

  .list-item {
    display: flex;
    flex-direction: column;
    padding-top: 5px;
    padding-bottom: 5px;
    position: relative;
    align-items: center;
    justify-content: center;

    &:hover {
      .button-wrapper {
        opacity: 1;
        z-index: 2;
      }

      .image {
        opacity: 0.3;
      }

    }

  }

  .image-wrapper {
    display: flex;
    justify-content: center;
  }

  .image {
    min-width: 96px;
    min-height: 96px;
    width: 100%;
    max-width: 128px;
    max-height: 128px;
    object-fit: cover;
    transition: opacity 0.2s ease-in;
    opacity: 1;
  }

  .button-wrapper {
    opacity: 0;
    display: flex;
    position: absolute;
    transition: opacity 0.2s ease-in;

    .button:nth-child(1) {
      margin-right: 1rem;
    }
  }

  .button {
  }

  .btn-danger {
    background: rgb(121, 7, 7);
    border-color: rgb(121, 7, 7);
    &:hover {
      background: rgb(74, 4, 4);
      border-color: rgb(121, 7, 7);
    }
  }

  .divider {
    padding: .2em 0;
    border-bottom: .5px solid rgb(128, 128, 128, 0.5);
  }
}



